.layout-header {
  background-color: #264653;
  color: #f4a261;
  font-size: 30px;
  text-align: center;
  padding: 30px;
}

.layout-footer {
  background-color: #264653;
  color: #f4a261;
  font-size: 30px;
  text-align: center;
  padding: 30px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.content-vertical {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  padding-top: 20px;
  min-height: 100vh;
}